 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "EB Garamond", serif;
    color: #333333;
}

.slide12{
  display: block;          
  position: relative;
  width: 100%;
  min-height: 100vh;    
  background-color: #e5dccf; 
}

/* Give the map real dimensions */
.slide12 #map{
  
  width: 80%;
  height: 100vh;
}

body {
    background-color: #333333;
}

.introHeader, .introSub {
    color: #e5dccf;
}

.bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-color: #333333;
  opacity: 1;
  transition: opacity .3s ease;
}

.bg.is-fading {
  opacity: 0;
}
 
.phoneOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity .6s ease, visibility 0s linear .6s;
}

.phoneOverlay.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity .6s ease;
}
 

.startButton {
    background-color: #e5dccf;
  border: none;
  color: #9f4f2e;
  width: 120px;
  height: 120px;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
    
  border-radius: 50%;
  position: absolute;
  top: 65%;
  
}

.svgContainer {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.svgContainer svg {
  width: 110vh;
  height: 110vh;
}

.svgContainer circle {
  opacity: 0;
  transition: opacity .6s ease, fill .3s ease;
}

.phoneOverlay.is-visible .svgContainer circle {
  opacity: 1;
}

.phoneOverlay.is-dark-circle .svgContainer circle {
  fill: #000000;
}

.slide {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  opacity: 0;
  transition: opacity .6s ease;
}

.slide.is-visible {
  opacity: 1;
}

.slide1 {
    display: flex;
    min-height: 100vh;
    background-color: #000000;
    justify-content: center;
    width: auto;
}
.slide2 {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    width: auto;
    background-color: transparent;
    color: #333333;
    
}

.slide2Phone {
  background-image: url(./images/section01-scroll-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 2;

  height: 300vh;
  width: auto;
  max-width: 100vw;
  aspect-ratio: 1;
}


.slide3 {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    width: auto;
    background-color: transparent;
}

.slide4 {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    width: auto;
    background-color: transparent;
}

.slide5 {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    width: auto;
    background-color: transparent;
}

.slide6 {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    width: auto;
    background-color: transparent;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.slide7 {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    width: auto;
    background-color: transparent;
}

.slide8, .slide9, .slide10, .slide11, .slide13, .slide14, .slide15, .slide16, .slide17{
  min-height: 100vh;
  width: auto;
  background-color: #e5dccf;
  color: #e5dccf;
}

 

.slide2TextContainer, .slide3TextContainer, .slide4TextContainer, .slide5TextContainer, .slide7TextContainer, .slide10TextContainer {
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 50%;
    
    text-align: center;
    font-size: 22px;
    z-index: 20;
}

.slide6TextContainer, .slide7TextContainer, .slide8TextContainer,.slide9TextContainer,.slide11TextContainer {
 display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 40%;
    
    text-align: center;
    font-size: 22px;
    z-index: 20;
}

.slide6BottomText,.slide8BottomText,.slide9BottomText,.slide11BottomText {
display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 55%;
    
    text-align: center;
    font-size: 22px;
    z-index: 20;
}

.slide2TextContainer,
.slide3TextContainer,
.slide4TextContainer,
.slide5TextContainer,
.slide6TextContainer,
.slide6BottomText,
.slide7TextContainer,
.slide8TextContainer,
.slide8BottomText,
.slide9TextContainer,
.slide9BottomText,
.slide10TextContainer,
.slide11TextContainer,
.slide11BottomText {
  opacity: 0;
  visibility: hidden;
  transition: opacity .6s ease, visibility 0s linear .6s;
}

body.phone-circle-visible .slide.text-visible .slide2TextContainer,
body.phone-circle-visible .slide.text-visible .slide3TextContainer,
body.phone-circle-visible .slide.text-visible .slide4TextContainer,
body.phone-circle-visible .slide.text-visible .slide5TextContainer,
body.phone-circle-visible .slide.text-visible .slide6TextContainer,
body.phone-circle-visible .slide.text-visible .slide6BottomText,
body.phone-circle-visible .slide.text-visible .slide7TextContainer,
body.phone-circle-visible .slide.text-visible .slide8TextContainer,
body.phone-circle-visible .slide.text-visible .slide8BottomText,
body.phone-circle-visible .slide.text-visible .slide9TextContainer,
body.phone-circle-visible .slide.text-visible .slide9BottomText,
body.phone-circle-visible .slide.text-visible .slide10TextContainer,
body.phone-circle-visible .slide.text-visible .slide11TextContainer,
body.phone-circle-visible .slide.text-visible .slide11BottomText {
  opacity: 1;
  visibility: visible;
  transition: opacity .6s ease, visibility 0s linear 0s;
}

.brownText {
    color: #9f4f2e;
}

body:not(.phone-circle-visible) .slide6 .brownText,
body:not(.phone-circle-visible) .slide7 .brownText {
  opacity: 0;
  visibility: hidden;
  transition: opacity .6s ease, visibility 0s linear 0s;
}

.introHeader {
    position: absolute;
    top: 47%;
    font-size: 50px;
    font-weight: 550;
   
}

.introSub {
    position: absolute;
    top: 57%;
    font-size: 20px;
  
}

